<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/cupcakes.css">
    <title>Cupcakes</title>
</head>
<body>
    <h1 class="text-center display-3">Cupcakes</h1>
    <div class="row justify-content-center">
        <div class="col-6">
            <ul class="list-group" id="cupcakes-list">
                <!-- {% for c in cupcakes %}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{c.flavor}}</li>
                {% endfor %} -->
            </ul>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <form id="new-cupcake-form">
            <div class="form-group">
                <label for="flavor">Flavor</label>
                <input type="text" class="form-control" id="flavor" name="flavor">
            </div>
            <div class="form-group">
                <label for="size">Size</label>
                <input type="text" class="form-control" id="size" name="size">
            </div>
            <div class="form-group">
                <label for="rating">Rating</label>
                <input type="text" class="form-control" id="rating" name="rating">
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input type="text" class="form-control" id="image" name="image">
            </div>
            <button id="submit" class="btn btn-success">Save</button>
        </form>
    </div>
<hr>
    <div class="row justify-content-center mt-5">
       <form action="/api/cupcakes/search">
            <div class="form-group">
                <input type="text" class="form-control" id="search" name="search" placeholder="Search for a flavor">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    {% if searched_flavor %}
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <ul class="list-group" id="cupcakes-list">
          {% for c in searched_flavor %}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{c.flavor}} / {{c.size}} <img src="{{c.image}}"></li>
        {% endfor %}
            </ul>
        </div>
    {% endif %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
    integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="/static/cupcakes.js"></script>
</body>
</html>